<template>
  <div class="row">
    <div class="col-4" repeat.for="balance of dataStore.balances">
      <div class="card">
        <div class="card-body">
          <a href="#/currency/${balance.currency.toLowerCase()}">
            <div class="stat-widget-five">
              <div class="stat-icon dib flat-color-1">
                <i class="pe-7s-cash"></i>
              </div>
              <div class="stat-content">
                <div class="text-left dib">
                  <div class="stat-text">
                    <span class="count">${balance.amount | currencySymbol:balance.currency}</span>
                  </div>
                  <div class="stat-heading">${balance.currency}</div>
                </div>
              </div>
              <hr>
              <div class="card-text text-sm-center">
                <a href="#" click.delegate="buy('btcusd')">
                  <i class="fa fa-plus pr-1"></i>
                </a>
                <a href="#" click.delegate="sell('btcusd')">
                  <i class="fa fa-minus pr-1"></i>
                </a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>
